* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  max-width: 1440px;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 1em;
}

p {
  line-height: 1.6;
  font-size: 1em;
}

img {
  width: 100%;
  height: 100%;
}

ul {
  list-style-type: none;
}

button, i {
  cursor: pointer;
}

.btn {
  background-color: #F59B00;
  border-radius: 5px;
  padding: 15px 30px;
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 500;
  border: 1.5px solid #F59B00;
  transition: 0.3s ease-out;
}
.btn:hover {
  background-color: rgba(245, 155, 0, 0);
  color: #F59B00;
}

.container {
  padding-left: 11% !important;
  padding-right: 11% !important;
}

@media (max-width: 820px) {
  .container {
    padding-left: 7% !important;
    padding-right: 7% !important;
  }
}
@media (max-width: 420px) {
  .container {
    font-size: 14px;
  }
}
header {
  background: #2F2F2F;
  position: sticky;
  top: 0;
  z-index: 99;
}
header nav {
  padding: 30px 0;
  padding-bottom: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
header nav .image {
  width: 95px;
  height: 56px;
}
header nav .links {
  display: flex;
  align-items: center;
  gap: 90px;
}
header nav .links ul {
  display: flex;
  gap: 40px;
}
header nav .links ul a {
  color: #FFFFFF;
  font-weight: 500;
  opacity: 0.6;
  transition: 0.3s ease-out;
}
header nav .links ul a:hover {
  opacity: 1;
}
header nav menu {
  display: none;
}
header nav menu input {
  display: none;
}
header nav menu input:checked ~ label:nth-of-type(1) {
  display: none;
}
header nav menu input:checked ~ label:nth-of-type(2) {
  display: block;
}
header nav menu input:checked ~ .menu-left {
  left: 0;
  box-shadow: 0 800px 0 800px rgba(245, 155, 0, 0.1882352941);
}
header nav menu label {
  font-size: 28px;
  color: white;
}
header nav menu label:nth-of-type(2) {
  display: none;
}
header nav .menu-left {
  position: fixed;
  left: -330px;
  top: 100px;
  width: 330px;
  height: calc(100% - 100px);
  background-color: #F59B00;
  padding: 40px 30px;
  padding-left: 7%;
  transition: 0.3s ease-out;
}
header nav .menu-left ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
header nav .menu-left a {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 1.8em;
  opacity: 0.7;
  transition: 0.3s ease-out;
}
header nav .menu-left a:hover {
  opacity: 1;
}
@media (max-width: 940px) {
  header nav .links {
    gap: 60px;
  }
  header nav .links ul {
    gap: 30px;
  }
}
@media (max-width: 840px) {
  header nav .links {
    gap: 50px;
  }
  header nav .links ul {
    gap: 25px;
  }
}
@media (max-width: 756px) {
  header nav menu {
    display: flex;
  }
  header nav .links {
    display: none;
  }
}
@media (max-width: 500px) {
  header nav menu .menu-left {
    width: 100%;
    left: -500px;
  }
}

.showcase {
  padding-bottom: 126px;
  display: flex;
  gap: 7px;
  justify-content: space-between;
  align-items: center;
  background: #2F2F2F;
}
.showcase .text {
  width: 420px;
  position: relative;
}
.showcase .text h3 {
  font-weight: 500;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #F59B00;
  margin-bottom: 10px;
}
.showcase .text h1 {
  font-weight: 700;
  font-size: 3.5em;
  line-height: 1.3;
  text-transform: capitalize;
  color: white;
  position: relative;
  width: 400px;
  margin-bottom: 25px;
}
.showcase .text h1 img {
  width: 200px;
  height: 58px;
  position: absolute;
  right: 110px;
  bottom: 2px;
}
.showcase .text p {
  opacity: 0.7;
  margin-bottom: 35px;
  color: white;
}
.showcase .text .image-abs {
  position: absolute;
  width: 228px;
  height: 130px;
  right: -20px;
  bottom: -75px;
}
.showcase .image {
  width: 849px;
  height: 565px;
  position: relative;
  right: -10%;
  background-image: url(../images/paint1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 10%;
}
.showcase .image img {
  height: 138%;
  position: absolute;
  left: -10%;
  top: -20px;
}
@media (max-width: 1240px) {
  .showcase .image {
    transform: scaleX(1.2) translateX(-5%);
  }
}
@media (max-width: 1140px) {
  .showcase {
    justify-content: center;
    flex-wrap: wrap;
    gap: 90px;
    padding-top: 50px;
    padding-bottom: 97px;
  }
  .showcase .image {
    width: 679.2px;
    height: 452px;
    transform: none;
    right: 0;
  }
}
@media (max-width: 765px) {
  .showcase {
    padding-bottom: 75px;
  }
  .showcase .image {
    width: 551.85px;
    height: 367.25px;
  }
}
@media (max-width: 640px) {
  .showcase {
    padding-bottom: 54px;
  }
  .showcase .image {
    width: 424.5px;
    height: 282.5px;
  }
}
@media (max-width: 440px) {
  .showcase .text {
    width: 336px;
    transform: scale(0.8);
  }
  .showcase .text h1 {
    width: 100%;
  }
  .showcase .text h1 img {
    right: 15%;
  }
  .showcase .text .image-abs {
    right: -16%;
  }
}
@media (max-width: 420px) {
  .showcase .text h1 {
    width: 278px;
  }
  .showcase .text h1 img {
    right: 4%;
    bottom: -2px;
  }
}
@media (max-width: 370px) {
  .showcase .text .image-abs {
    width: 144px;
    height: 79px;
    right: 0;
    bottom: -40px;
  }
}

.cart1 {
  padding: 130px 0;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.cart1 .box {
  width: 24%;
}
.cart1 h3 {
  color: rgba(47, 47, 47, 0.5019607843);
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 90px;
  position: relative;
  text-align: center;
  transition: 0.3s ease-out;
}
.cart1 h3:hover {
  color: #2F2F2F;
}
.cart1 h3:hover::before {
  display: block;
}
.cart1 h3::before {
  display: none;
  content: "";
  position: absolute;
  bottom: -40px;
  border-radius: 2.5px;
  height: 5px;
  width: 100%;
  background: #F59B00;
}
.cart1 .image {
  width: 100%;
  padding: 15px;
  border: 1px solid rgba(163, 163, 163, 0.3137254902);
  border-radius: 10px;
  transition: 0.3s ease-out;
}
.cart1 .image:hover {
  border: 1px solid #F59B00;
}
@media (max-width: 1024px) {
  .cart1 {
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
  }
  .cart1 .box {
    width: 256px;
  }
  .cart1 .box h3 {
    margin-bottom: 50px;
  }
  .cart1 .box h3::before {
    bottom: -20px;
  }
}

.cart2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart2 .image {
  width: 65%;
  position: relative;
  left: -14%;
}
.cart2 .text {
  width: 444px;
}
.cart2 .text h3 {
  font-weight: 500;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #F59B00;
  margin-bottom: 10px;
}
.cart2 .text h2 {
  font-weight: 700;
  font-size: 1.7em;
  line-height: 140%;
  text-transform: capitalize;
  color: #2F2F2F;
  margin-bottom: 24px;
}
.cart2 .text p {
  color: #2F2F2F;
  margin-bottom: 35px;
  opacity: 0.9;
}
@media (max-width: 1024px) {
  .cart2 {
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    text-align: center;
  }
  .cart2 .image {
    width: 450px;
    left: 0;
  }
}
@media (max-width: 500px) {
  .cart2 .image {
    width: 100%;
  }
  .cart2 .text {
    width: 100%;
  }
}

.cart3 {
  padding: 130px 0;
  text-align: center;
}
.cart3 h2 {
  font-weight: 700;
  font-size: 1.7em;
  line-height: 140%;
  text-transform: capitalize;
  color: #2F2F2F;
  margin-bottom: 25px;
}
.cart3 p {
  text-transform: capitalize;
  color: #2F2F2F;
  opacity: 0.9;
  width: 510px;
  margin: auto;
  margin-bottom: 60px;
}
.cart3 .images {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 108px;
}
.cart3 .images .image {
  background: #FFE1E8;
  border-radius: 10px;
  width: 256px;
  height: 273px;
}
.cart3 .images .image:nth-of-type(2) {
  background: #FFE1E8;
}
.cart3 .images .image:nth-of-type(3) {
  background: #F9DCFF;
}
.cart3 .images .image:nth-of-type(4) {
  background: #FFDEE7;
}
.cart3 .images .image img {
  transform: scaleY(1.3) translateY(30px);
}
.cart3 .a1 .image {
  background: #ECF1FF;
}
.cart3 .a1 .image:nth-of-type(2) {
  background: #FADADE;
}
.cart3 .a1 .image:nth-of-type(3) {
  background: #D9E6FE;
}
.cart3 .a1 .image:nth-of-type(4) {
  background: #EBF4BF;
}
.cart3 button {
  background-color: rgba(255, 255, 255, 0);
  color: #F59B00;
  display: flex;
  align-items: center;
  margin: auto;
  gap: 15px;
}
.cart3 button:hover {
  background-color: #F59B00;
  color: white;
}
.cart3 button i {
  font-size: 20px;
}
@media (max-width: 1100px) {
  .cart3 .images {
    flex-wrap: wrap;
    gap: 70px;
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .cart3 p {
    width: 100%;
  }
}

.cart4 {
  border-radius: 10px;
  display: flex;
}
.cart4 .image {
  width: 40%;
  background-image: linear-gradient(to bottom, rgba(47, 47, 47, 0.6), rgba(47, 47, 47, 0.6)), url(../images/bg1.png);
  border-radius: 10px 0px 0px 10px;
  background-size: cover;
  background-position: 50% 50%;
}
.cart4 .image img {
  opacity: 0;
}
.cart4 .form {
  width: 60%;
  border-radius: 0px 10px 10px 0px;
  background-image: linear-gradient(to bottom, rgba(47, 47, 47, 0.95), rgba(47, 47, 47, 0.95)), url(../images/bg2.png);
  padding: 100px 60px;
}
.cart4 .form h2 {
  font-weight: 700;
  font-size: 1.7em;
  line-height: 140%;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 44px;
  width: 92%;
}
.cart4 .form form {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: 1em;
  line-height: 120%;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.2078431373);
}
.cart4 .form .just {
  width: 45%;
  border: 1px solid rgba(255, 255, 255, 0.1450980392);
  border-radius: 10px;
  padding: 18px 30px;
  outline: none;
  background-color: rgba(47, 47, 47, 0);
  font-weight: 400;
  font-size: 1em;
  line-height: 120%;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.2078431373);
}
.cart4 .form .b1 {
  width: 100%;
}
.cart4 .form .bottom {
  display: flex;
  align-items: center;
}
.cart4 .form .bottom label {
  margin-left: 10px;
  margin-right: 40px;
}
.cart4 .form .bottom input {
  background-color: rgba(47, 47, 47, 0) !important;
  border: none !important;
}
@media (max-width: 1156px) {
  .cart4 .form {
    padding: 100px 50px;
  }
  .cart4 .form .bottom label {
    margin-left: 8px;
    margin-right: 20px;
  }
}
@media (max-width: 1065px) {
  .cart4 .form {
    width: 100%;
    border-radius: 0;
  }
  .cart4 .image {
    display: none;
  }
}
@media (max-width: 580px) {
  .cart4 .form {
    padding: 80px 40px;
  }
  .cart4 .form h2 {
    width: 100%;
  }
  .cart4 .form .just {
    width: 100%;
  }
  .cart4 .form .bottom {
    flex-wrap: wrap;
    row-gap: 30px;
  }
}
@media (max-width: 580px) {
  .cart4 .form {
    padding: 70px 30px;
  }
  .cart4 .form .bottom label {
    margin-left: 6px;
    margin-right: 0px;
  }
}
@media (max-width: 330px) {
  .cart4 .form {
    padding: 60px 20px;
  }
}

.cart5 {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin: 130px 0;
}
.cart5 .image {
  width: 264px;
  height: 70px;
}
@media (max-width: 1024px) {
  .cart5 {
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 97px;
  background-image: linear-gradient(to bottom, rgba(47, 47, 47, 0.92), rgba(47, 47, 47, 0.92)), url(../images/bg3.png);
  background-size: cover;
  background-position: 50% 50%;
}
footer a {
  font-weight: 400;
  font-size: 1em;
  color: #FFFFFF;
  opacity: 0.7;
  text-transform: capitalize;
  transition: 0.3s ease-out;
}
footer a:hover {
  color: #F59B00;
  opacity: 1;
}
footer .logo {
  width: 224px;
}
footer .logo .image {
  width: 95px;
  height: 56px;
}
footer .logo p {
  color: #FFFFFF;
  opacity: 0.7;
}
footer h3 {
  font-weight: 500;
  font-size: 1.2em;
  color: white;
  margin-bottom: 20px;
  text-transform: capitalize;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer form input {
  border: 1px solid rgba(255, 255, 255, 0.1450980392);
  border-radius: 10px;
  padding: 18px 30px;
  outline: none;
  background-color: rgba(47, 47, 47, 0);
  font-weight: 400;
  font-size: 1em;
  line-height: 120%;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.2078431373);
  margin-bottom: 30px;
}
@media (max-width: 1160px) {
  footer {
    flex-wrap: wrap;
    gap: 50px;
  }
  footer form {
    order: 2;
    width: 42%;
  }
  footer form input {
    width: 264px;
  }
  footer .logo {
    order: 1;
  }
  footer ul {
    order: 3;
    width: 42%;
  }
}
@media (max-width: 579px) {
  footer form {
    order: 4;
    width: 45%;
  }
  footer form input {
    width: 264px;
  }
  footer .logo {
    order: 1;
  }
  footer ul {
    order: 3;
    width: 45%;
  }
}

/*# sourceMappingURL=style.css.map */
