@import './variables.scss';

.cart1{
    padding: 130px 0;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    .box{
        width: 24%;
    }
    h3{
        color: #2F2F2F80;
        text-transform: capitalize;
        font-weight: 500;
        font-size: 1.2em;
        margin-bottom: 90px;
        position: relative;
        text-align: center;
        transition: 0.3s ease-out;
        &:hover{
            color: #2F2F2F;  
            &::before{
                display: block;
            } 
        }
        &::before{
            display: none;
            content: '';
            position: absolute;
            bottom: -40px;
            border-radius: 2.5px;
            height: 5px;
            width: 100%;
            background: #F59B00;
        }
    }
    .image{
        width: 100%;
        padding: 15px;
        border: 1px solid #A3A3A350;
        border-radius: 10px;
        transition: 0.3s ease-out;
        &:hover{
            border: 1px solid #F59B00;
        }
    }
    @media(max-width:1024px){
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
        .box{
            width: 256px;
            h3{
                margin-bottom: 50px;
                &::before{
                    bottom: -20px;
                }
            }
        }
    }
}
.cart2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .image{
        width: 65%;
        position: relative;
        left: -14%;
    }
    .text{
        width: 444px;
        h3{
            font-weight: 500;
            font-size: 1.2em;
            text-transform: uppercase;
            color: #F59B00;
            margin-bottom: 10px;
        }
        h2{
            font-weight: 700;
            font-size: 1.7em;
            line-height: 140%;
            text-transform: capitalize;   
            color: #2F2F2F;
            margin-bottom: 24px;
        }
        p{
            color: #2F2F2F;
            margin-bottom: 35px;
            opacity: 0.9;
        }
    }
    @media(max-width:1024px){
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
        text-align: center;
        .image{
            width: 450px;
            left: 0;
        }
    }
    @media(max-width:500px){
        .image{
            width: 100%;
        }
        .text{
            width: 100%;
        }
    }
}
.cart3{
    padding: 130px 0;
    text-align: center;
    h2{
        font-weight: 700;
        font-size: 1.7em;
        line-height: 140%;
        text-transform: capitalize;
        color: #2F2F2F;
        margin-bottom: 25px;
    }
    p{
        text-transform: capitalize;
        color: #2F2F2F;   
        opacity: 0.9;
        width: 510px;
        margin: auto;
        margin-bottom: 60px;
    }
    .images{
        display: flex;
        justify-content: space-between;
        gap: 8px;
        margin-bottom: 108px;
        .image{
            background: #FFE1E8;
            border-radius: 10px;
            width: 256px;
            height: 273px;
            &:nth-of-type(2){background: #FFE1E8;}
            &:nth-of-type(3){background: #F9DCFF;}
            &:nth-of-type(4){background: #FFDEE7;}
            img{
                transform: scaleY(1.3) translateY(30px);
            }
        }
    }
    .a1{
        .image{
            background: #ECF1FF;
            &:nth-of-type(2){background: #FADADE;}
            &:nth-of-type(3){background: #D9E6FE;}
            &:nth-of-type(4){background: #EBF4BF;}
        }
    }
    button{
        background-color: rgba(255, 255, 255, 0);
        color: #F59B00;
        display: flex;
        align-items: center;
        margin: auto;
        gap: 15px;
        &:hover{
            background-color: #F59B00;
            color: white;
        }
        i{
            font-size: 20px;
        }
    }
    @media(max-width:1100px){
        .images{
            flex-wrap: wrap;
            gap: 70px;
            justify-content: center;
        }
    }
    @media(max-width:600px){
        p{
            width: 100%;
        }
    }
}
.cart4{
    border-radius: 10px;
    display: flex;
    .image{
        width: 40%;
        background-image: linear-gradient(to bottom, rgba(47, 47, 47, 0.6), rgba(47, 47, 47, 0.6)), url(../images/bg1.png);
        border-radius: 10px 0px 0px 10px;
        background-size: cover;
        background-position: 50% 50%;
        img{
            opacity: 0;
        }
    }
    .form{
        width: 60%;
        border-radius: 0px 10px 10px 0px;
        background-image: linear-gradient(to bottom, rgba(47, 47, 47, 0.95), rgba(47, 47, 47, 0.95)), url(../images/bg2.png);
        padding: 100px 60px;
        h2{
            font-weight: 700;
            font-size: 1.7em;
            line-height: 140%;
            text-transform: capitalize;
            color: #FFFFFF;
            margin-bottom: 44px;
            width: 92%;
        }
        form{
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            align-items: center;
            justify-content: space-between;
            font-weight: 400;
            font-size: 1em;
            line-height: 120%;
            text-transform: capitalize;
            color: #FFFFFF35;
        }
        .just{
            width: 45%;
            border: 1px solid #FFFFFF25;
            border-radius: 10px;
            padding: 18px 30px;
            outline: none;
            background-color: #2F2F2F00;
            font-weight: 400;
            font-size: 1em;
            line-height: 120%;
            text-transform: capitalize;
            color: #FFFFFF35;
        }
        .b1{
            width: 100%;
        }
        .bottom{
            display: flex;
            align-items: center;
            label{
                margin-left: 10px;
                margin-right: 40px;
            }
            input{
                background-color: #2F2F2F00 !important;
                border: none !important;
            }
        }
    }
    @media(max-width:1156px){
        .form{
            padding: 100px 50px;
            .bottom{
                label{
                    margin-left: 8px;
                    margin-right: 20px;
                }
            }
        }
    }
    @media(max-width:1065px){
        .form{
            width: 100%;
            border-radius: 0;
        }
        .image{
            display: none;
        }
    }
    @media(max-width:580px){
        .form{
            padding: 80px 40px;
            h2{
                width: 100%;
            }
            .just{
                width: 100%;
            }
            .bottom{
                flex-wrap: wrap;
                row-gap: 30px;
            }
        }
    }
    @media(max-width:580px){
        .form{
            padding: 70px 30px;
            .bottom{
                label{
                    margin-left: 6px;
                    margin-right: 0px;
                }
            }
        }
    }
    @media(max-width:330px){
        .form{
            padding: 60px 20px;
        }
    }
}
.cart5{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin: 130px 0;
    .image{
        width: 264px;
        height: 70px;
    }
    @media(max-width:1024px){
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
    }
}