@import './variables.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    max-width: 1440px;
    margin: auto;
}
a{
    text-decoration: none;
    color: inherit;
    font-size: 1em;
}
p{
    line-height: 1.6;
    font-size: 1em;
}
img{
    width: 100%;
    height: 100%;
}
ul{
    list-style-type: none;
}
button ,i{
    cursor: pointer;
}
.btn{
    background-color: #F59B00;
    border-radius: 5px;
    padding: 15px 30px;
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 500;
    border: 1.5px solid $primary;
    transition: 0.3s ease-out;
    &:hover{
        background-color: #F59B0000;
        color: $primary;
    }
}
.container{
    padding-left: 11% !important;
    padding-right: 11% !important;
}

@media(max-width:820px){
    .container{
        padding-left: 7% !important;
        padding-right: 7% !important;
    }
}
@media(max-width:420px){
    .container{
        font-size: 14px;
    }
}