@import './variables.scss';

.showcase{
    padding-bottom: 126px;
    display: flex;
    gap: 7px;
    justify-content: space-between;
    align-items: center;
    background: #2F2F2F;
    .text{
        width: 420px;
        position: relative;
        h3{
            font-weight: 500;
            font-size: 1.2em;
            text-transform: uppercase;
            color: #F59B00;
            margin-bottom: 10px;
        }
        h1{
            font-weight: 700;
            font-size: 3.5em;
            line-height: 1.3;
            text-transform: capitalize;
            color: white;
            position: relative;
            width: 400px;
            margin-bottom: 25px;
            img{
                width: 200px;
                height: 58px;
                position: absolute;
                right: 110px;
                bottom: 2px;
            }
        }
        p{
            opacity: 0.7;
            margin-bottom: 35px;
            color: white;
        }
        .image-abs{
            position: absolute;
            width: 228px;
            height: 130px;
            right: -20px;
            bottom: -75px;
        }
    }
    .image{
        width: 849px;
        height: 565px;
        position: relative;
        right: -10%;
        background-image: url(../images/paint1.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 50% 10%;
        img{
            height: 138%;
            position: absolute;
            left: -10%;
            top: -20px;
        }
    }
    @media(max-width:1240px){
        .image{
            transform: scaleX(1.2) translateX(-5%);
        }
    }
    @media(max-width:1140px){
        justify-content: center;
        flex-wrap: wrap;
        gap: 90px;
        padding-top: 50px;
        padding-bottom: 97px;
        .image{
            width: calc(849px * 0.8);
            height: calc(565px * 0.8);
            transform: none;
            right: 0;
        }
    }
    @media(max-width:765px){
        padding-bottom: 75px;
        .image{
            width: calc(849px * 0.65);
            height: calc(565px * 0.65);
        }
    }
    @media(max-width:640px){
        padding-bottom: 54px;
        .image{
            width: calc(849px * 0.5);
            height: calc(565px * 0.5);
        }
    }
    @media(max-width:440px){
        .text{
            width: calc(420px * 0.8);
            transform: scale(0.8);
            h1{
                width: 100%;
                img{
                    right: 15%;
                }
            }
            .image-abs{
                right: -16%;
            }
        }
    }
    @media(max-width:420px){
        .text{
            h1{
                width: 278px;
                img{
                    right: 4%;
                    bottom: -2px;
                }
            }
        }
    }
    @media(max-width:370px){
        .text{
            .image-abs{
                width: 144px;
                height: 79px;
                right: 0;
                bottom: -40px;
            }
        }
    }
}